<!DOCTYPE HTML>
<html class="ua-ch ua-ch-28 ua-wk ua-linux">
<head>
    <meta charset="utf-8"/>
    <meta name="description" content=""/>
          <link href="http://shared.ydstatic.com/dict/v5.15/styles/entry-min.css" type="text/css" rel="stylesheet"/>
    <link href="http://shared.ydstatic.com/dict/v5.15/styles/pad.css" media="screen and (orientation: portrait), screen and (orientation: landscape)" rel="stylesheet" type="text/css"> 
    <title>Openyoudao首页</title>
</head>
<body>
<div id="w">
<div id="l"></div>
<div id="fm">
        <form method="post" action="/search" class="c-fm-w" id="f">
            <span class="s-inpt-w">
               <input type="text" class="s-inpt" name="keyword" autocomplete="off" maxlength="256">
            </span><span class="s-btn-w">
               <input type="submit" class="s-btn" id="qb" value="搜 索">
            </span>
</div>
</div>
</body>
</html>
