Source: openyoudao
Section: net
Priority: optional
Maintainer: fly100 <xdlailai@gmail.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.9.3
#Vcs-Git: git://git.debian.org/collab-maint/openyoudao.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/openyoudao.git;a=summar

Package: openyoudao
Architecture: any
Depends: python-xlib, python-webkit, python-lxml, python-beautifulsoup, xclip, inotify-tools, curl
Description: Openyoudao是有道字典在linux下的客户端
  test
