<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <!-- include head -->
    

<meta charset="utf-8">
<title>The blog of openyoudao</title>
<meta name="author" content="justzx">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="canonical" href="http://huacnlee.com">
<link href="/favicon.ico" rel="icon">
<link href={{ static_url("screen.css") }}" media="screen, projection" rel="stylesheet"  type="text/css"/>
<link href="/blog/rss"
      rel="alternate"
      title="openyoudao"
      type="application/atom+xml">

<style type="text/css">
  header[role="banner"] hgroup h1 {
    /* font-size: 180% */
    color: #999;
  }
</style>


<script src="{{ static_url("js/modernizr-2.0.js") }}" type="text/javascript"></script>
<script src="{{ static_url("js/ender.js") }}" type="text/javascript"></script>
<script src="{{ static_url("js/octopress.js") }}" type="text/javascript"></script>


<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-9745660-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') +
      '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>


    <!-- /include -->
  </head>
  <body>
    <div id="wrapper">

      <header role="banner" class="site_metas">
	<!-- include header -->
	
<hgroup>
  <h1><a href="/">Openyoudao</a></h1>
  
  <div class="nav">
    <a href="/">Blog</a> /
    <a href="/">Twitter</a> /
    <a href="/">Github</a> /
    <a href="/" target="_blank">Navigation</a> /
  </div>
</hgroup>
</header>
