Source: openyoudao
Section: net
Priority: optional
Maintainer: Xin Zhang <justzx2011@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://openyoudao.org
#Vcs-Git: git@github.com:justzx2011/openyoudao.git
#Vcs-Browser: https://github.com/justzx2011/openyoudao

Package: openyoudao
Architecture: any
Depends: python-xlib, python-webkit, python-lxml,xclip,curl
Description: <a youdao opensource dict client for linux>
