Package: openyoudao
Version: 1.1-1
Architecture: i386
Maintainer: fly100 <xdlailai@gmail.com>
Installed-Size: 879
Depends: python-xlib, python-webkit, python-lxml, python-beautifulsoup, xclip, inotify-tools, curl
Section: net
Priority: optional
Description: Openyoudao是有道字典在linux下的客户端
  test
