<!DOCTYPE HTML>
<html class="ua-ch ua-ch-28 ua-wk ua-linux">
<head>
    <meta charset="utf-8"/>
    <meta name="description" content=""/>
          <link href="static/css/start/entry-min.css" type="text/css" rel="stylesheet"/>
    <link href="static/css/start/pad.css" media="screen and (orientation: portrait), screen and (orientation: landscape)" rel="stylesheet" type="text/css"> 
    <title>Openyoudao首页</title>
</head>
<body>
<div id="w">
<div id="l"></div>
<h1 style="text-align: center">请用鼠标选取待翻译的词语或句子<h1>
</div>
</body>
</html>
