body {font-family: platino,serif; margin: 1em 2em 1em 2em; font-size: 100%; line-height: 130%;text-shadow: 1px 1px 0px #FFFFFF;background:url("bg.png") repeat scroll 0 0 transparent;min-width:320px;}
h1, h2, h3, h4, h5, h6 {font-family: Tahoma, Helvetica, verdana, sans-serif; margin-top: 1.5em; margin-bottom: 0.5em;}
/*h1 {font-size: 2.0em; color: #a77070;}*/
h1 {font-size: 2.2em; color: #779977;}
h2 {font-size: 1.6em; color: #779977;}
h3 {font-size: 1.3em; color: #555577;-webkit-border-radius: 11px;
-moz-border-radius: 11px;
border-radius: 11px;
padding:10px;
background: rgba(180,200,200,0.3);}
h4 {font-size: 1.2em; color: #222244;}
h5 {font-size: 1.1em; color: #222244;}
h6 {font-size: 1.0em; color: #222244;}
a{color:#294;text-decoration:none;  }
p, pre, blockquote, table, ul, ol, dl {margin-top: 1em; margin-bottom: 1em;}
ul ul, ul ol, ol ol, ol ul {margin-top: 0.5em; margin-bottom: 0.5em;}
li {margin: 0.3em auto;}
ul {margin-left: 2em; padding-left: 0.5em;}
dt {font-weight: bold;}
img {border: none;}
pre {border-left: 1px solid #aaa; margin-left: 2em; padding-left: 0.5em;background:rgba(180,180,180,0.3);font-family:Courier New, Monaco,monospace;}
blockquote {padding: 0.4em; background-color: #f6f5eb; font-size:0.8em; }
th, td {border: 1px solid #ccc; padding: 0.3em;}
th {background-color: #f0f0f0;}
hr {border: none; border-top: 1px solid #ccc; width: 100%;}
del {text-decoration: line-through; color: #777777;}
.toc li {list-style-type: none;}
.todo {font-weight: bold; background-color: #f0ece8; color: #a03020;}
.justleft {text-align: left;}
.justright {text-align: right;}
.justcenter {text-align: center;}
.center {margin-left: auto; margin-right: auto;}
.right {text-align:right;}
.intro {
font-family: Georgia,"Times New Roman",Times,serif;
pa{font-size:13px;font-weight:normal;line-height:18px;margin-bottom:9px;}pa small{font-size:11px;color:#bfbfbf;}}
.ribbon {
  background-color: rgba(0,0,0,0.5);
  overflow: hidden;
  /* top left corner */
  position: absolute;
  right: -4.5em;
  top: 3.5em;
  /* 45 deg ccw rotation */
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(45deg);
  /* shadow */
  -moz-box-shadow: 0 0 1em #888;
  -webkit-box-shadow: 0 0 1em #888;
  opacity: 0.2;
  -moz-transition-property: opacity 200ms linear;
  -webkit-transition: opacity 200ms linear; 
  -o-transition: opacity 200ms linear; 
  transition: opacity 200ms linear;
}
.ribbon a {
  border: 1px solid #fff;
  color: #fff;
  display: block;
  font: bold 14px 'Helvetiva Neue', Helvetica, Arial, sans-serif;
  margin: 0.05em 0 0.075em 0;
  padding: 0.5em 3.5em;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 0.5em #444;
}
body:hover .ribbon {
  opacity: 1;
}
