[Desktop Entry]
Name=Openyoudao
Name[ca]=Openyoudao
Name[de_DE]=Openyoudao
Name[es_ES]=Openyoudao
Name[es_MX]=Openyoudao
Name[fr_FR]=Openyoudao
Name[it_IT]=Openyoudao
Name[pt_BR]=Openyoudao
Name[pt_PT]=Openyoudao
Name[tr_TR]=Openyoudao
Name[zh_CN]=有道
Name[zh_TW]=Openyoudao
GenericName=Openyoudao YouDao Client
GenericName[ca]=Client de YouDao Openyoudao
GenericName[de_DE]=Openyoudao YouDao Client
GenericName[es_ES]=Cliente de YouDao Openyoudao
GenericName[es_MX]=Openyoudao Cliente YouDao
GenericName[fr_FR]=Openyoudao YouDao Client
GenericName[it_IT]=Openyoudao YouDao Client
GenericName[pt_BR]=Cliente de YouDao Openyoudao
GenericName[pt_PT]=Openyoudao Cliente YouDao
GenericName[tr_TR]=Openyoudao YouDao İstemcisi
GenericName[zh_CN]=有道客户端
GenericName[zh_TW]=Openyoudao YouDao 用戶端
X-GNOME-FullName=Openyoudao YouDao Client
X-GNOME-FullName[ca]=Client de YouDao Openyoudao
X-GNOME-FullName[de_DE]=Openyoudao YouDao Client
X-GNOME-FullName[es_ES]=Cliente de YouDao Openyoudao
X-GNOME-FullName[es_MX]=Openyoudao Cliente YouDao
X-GNOME-FullName[fr_FR]=Openyoudao YouDao Client
X-GNOME-FullName[it_IT]=Openyoudao YouDao Client
X-GNOME-FullName[pt_BR]=Cliente de YouDao Openyoudao
X-GNOME-FullName[pt_PT]=Openyoudao Cliente YouDao
X-GNOME-FullName[tr_TR]=Openyoudao YouDao İstemcisi
X-GNOME-FullName[zh_CN]=有道客户端
X-GNOME-FullName[zh_TW]=Openyoudao YouDao 用戶端
Type=Application
Comment=Lightweight YouDao Client base on Gtk2 and Webkit
Comment[de_DE]=Ein schlanker YouDao Client basierend auf Gtk2 und Webkit
Comment[es_ES]=Cliente de YouDao basado en Gtk2 y Webkit
Comment[es_MX]=Cliente YouDao liviano basado en Gtk2 y Webkit
Comment[fr_FR]=Un client léger pour youdao basé sur Gtk2 et Webkit
Comment[it_IT]=YouDao Client leggero basato su Gtk2 e Webkit
Comment[pt_BR]=Cliente YouDao baseado em Gtk2 e Webkit
Comment[pt_PT]=Cliente Leve de YouDao baseado em Gtk2 e Webkit
Comment[tr_TR]=Gtk2 ve Webkit Tabanlı Hafif YouDao İstemcisi
Comment[zh_CN]=基于 Gtk2 Webkit 的轻巧有道客户端
Comment[zh_TW]=基於 Gtk2 Webkit 的輕巧 YouDao 用戶端
Exec=openyoudao
Icon=/usr/share/openyoudao/images/icon/icon.jpg
Categories=GTK;GNOME;Network;Office;Dictionary;
X-GNOME-Gettext-Domain=openyoudao
